* {
    font-family: Arial, Helvetica, sans-serif;
    color: #F7F8F5;
}

a {
    color: #D0D0D0;
}

body {
    background-color: #3E4765;
    padding: 20px;
}

form {
    margin: 0 auto;
    max-width: 400px;
    background: #BF7A90;
    padding: 10px;
    display: flex;
    border-radius: 4px;
}

form input {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    font-size: 175%;
    margin-right: 10px;
}

form input::placeholder {
    color: #F7F8F5;
    opacity: .7;
}

form button {
    border: none;
    outline: none;
    background: none;
}

form img {
    width: 30px;
    opacity: .7;
    cursor: pointer;
}

form img:hover {
    opacity: 1;
}

#results {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}

#results #context {
    font-style: italic;
    margin-bottom: 30px;
}
